{% extends 'base.html' %}

{% block title %}Сайт с рецептами{% endblock %}
{% block content %}
    <h3 class="main_title">Добро пожаловать на страницу с рецептами!</h3>
    <div class="main_text_wrp">
        <p class="main_text">
            Здесь вас ждет богатый выбор кулинарных идей и вдохновения для приготовления вкусных блюд.
            Независимо от вашего опыта, у нас есть рецепты, которые подходят для каждого.
            <br><br>Исследуйте мир гастрономии, пробуйте разнообразные кухни мира и создавайте удивительные блюда
            с помощью наших подробных рецептов. Мы предлагаем всё — от простых и быстрых закусок до
            изысканных десертов. Начните свой кулинарный путь и порадуйте себя и своих близких вкусными
            шедеврами.<br><br>Объединяйтесь с нами, чтобы превратить приготовление пищи в настоящее искусство,
                и позвольте каждому блюду стать праздником. Ваш кулинарный опыт начинается здесь!
        </p>
    </div>
{% endblock %}
